
*  {
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    }


body {
    background-image: url("../imgs/dust_scratches.png");
    margin-bottom: 60px;
    }

.container-fluid {
    background-color: white;
    max-width: 960px;
    }

.navbar {
    border-bottom: 2px solid gray;
    }


#name {
    background-color: rgb(155, 206, 248);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    float:left;
    color: white;
    font-size: 18px;
    font-weight: bold;
    }

.navbar-right {
    background: none;
    padding-bottom: 15px;
    padding-right: 10px;
    color: gray;
   }

.container {
    background-color: white;
    border: none;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: auto;
    padding-bottom: 20px;
    }

#paragraph-box {
    border: 1px solid gray;
    margin-top: 15px;
    padding: 5px;
    }

#pic1 {
    height: 300px;
    width: 300px;
    margin: 0px 10px 10px 0px;
    position: relative;
    }

p {
    font-size: 18px;
    }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: darkgray;
    padding-top: 10px;
    font-size: 14px;
    }

     /* is this needed?*/
  .container1 .text-muted {
    margin: 0px 0;
    }
 
#project-area {
    background: rgb(133, 241, 245);
    margin: 15px auto;
    border: 1px solid gray;
    }

#portfolio-title {
    border-bottom: 1px solid gray;
    margin-left: 15px;
    }

.portfolio-pic {
    margin: 15px 25px;
    padding: 20px;
    }

#form-box {
    padding: 5px 5px;
    border: 1px solid black;
    margin-top: 15px;
    }

#sidebar-title {
    margin-top: 0px;
    margin-left: 10px;
    border-bottom: 1px solid gray;
    }
#sidebar {
   clear: both;
    background: rgb(133, 241, 245);
    padding: 10px 15px 15px 15px;
    height: 125px;
    margin-top: 15px;
    border: 1px solid black;
    }

ul {
    margin-left: 10px;
    }

.sidebar-pic {
    height: 50px;
    width: 50px;
   }

#img {
    height: 300px;
    width: 300px;
    margin: auto;
    padding: 25px;
    }
  
.topnav a  {
    width: 40px;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 200px;
    }

@media screen and (max-width: 700px) {
    .portfolio-pic {
    }
}   
